Autobuses/.vs/Autobuses/v16/.suo
Autobuses/CapaNegocio/obj/Debug/CapaNegocios.csproj.AssemblyReference.cache
Autobuses/CapaPresentacion/bin
Autobuses/CapaPresentacion/obj
Autobuses/CapaPresentacion/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Autobuses/CapaPresentacion/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache